*
!*.yaml
!scenes
!.gitignore
!*.sh
!README.md
!binary_sensor
!camera
!fan
!input_number
!light
!mqtt
!scripts
!sensor
!switch
!themes
!weather
!www
!.storage/core.area_registry
!.storage/core.device_registry
!.storage/core.entity_registry
.cloud
Archive
secrets.yaml
shell_secrets.sh
entity_registry.yaml
known_devices.yaml
nmap_tracker.yaml
tracker.yaml
nest.conf
.wink.conf
