*
!*.yaml
!scenes
!.gitignore
!*.sh
!README.md
!binary_sensor
!camera
!fan
!input_number
!light
!scripts
!sensor
!switch
!weather
secrets.yaml
shell_secrets.sh
entity_registry.yaml
known_devices.yaml
nmap_tracker.yaml
tracker.yaml
nest.conf
.wink.conf
